.nav-bar {
	padding: 30px;
	background-color: black;
	position: fixed;
	width: 100%;
	height: 161px;
	z-index: 10;
}

.nav-bar .navbar-toggler {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.nav-bar .navbar-link {
	color: white;
	text-decoration: none;
	margin-right: 15px;
	font-size: 15px;
	font-family: 'Poppins'
}

.navbar .navbar-link:hover {
	color: #bdeeff;
}

.navbar .navbar-link:active {
	color: #7ccccc;
}

.navbar-nav .active.nav-link {
	color: #7ccccc
}

.nav-bar .navbar-brand img {
	height: 75px;
	position: fixed;
	top: 44px;
	left: 30px;
}

.navbar-toggler-icon {
	width: 24px;
	height: 18px;
	background-image: none;
	transition: all 300ms linear;
	position: fixed;
	right: 60px;
	border-bottom: 2px solid #fff;
	top: 71px;
  }

  .navbar-toggler-icon:before {
	  background-color: white;
	  content: "";
	  height: 2px;
	  left: 0;
	  position: absolute;
	  top: 0;
	  transition: all .3s linear;
	  width: 24px;
	  z-index: 2;
  }

  .navbar-toggler-icon:after  {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: white;
	top: 8px;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
  }

 @media (min-width: 993px) {
	.dropdown-links {
		position: absolute;
		right: 10px;
		top: 30px;
	  }
 }

  @media (max-width: 992px) {
	.navbar-collapse {
		background-color: black;
		padding: 0px 15px 20px 30px;
		right: 10px; 
		top: 100px;
		position: absolute;
		text-align: end;
	  }
  }
  

  
 