.nav-bar {
	padding: 30px;
	background-color: black;
	
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-bar .navbar-toggler {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.nav-bar .navbar-link {
	color: white;
	text-decoration: none;
	padding-right: 15px;
	font-size: 15px;
	font-family: 'Poppins'
}

.nav-bar .navbar-brand img {
	height: 75px;
}

.navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	transition: all 300ms linear;
	position: fixed;
	right: 60px;
  }

.navbar-toggler-icon:before, navbar-toggler-icon:after {
	background-color: white;
}

.navbar .navbar-collapse.collapse {
	display: flex;
	justify-content: left;
}